@import "Screensize";
.checkOut {
  padding: 30px;
  padding-left: 4rem;
  padding-right: 4rem;

  display: flex;
  background-color: white;
  height: max-content;
  @include breakpoint-down(small) {
    display: block;
  }
  &__Ad {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
    @include breakpoint-down(small) {
      display: none;
    }
  }
  &__title {
    margin-right: 10px;
    padding: 10px;
    // border-bottom: 3px solid black;
  }
  &__Price {
    padding-left: 20px;
  }
  .dividercheck {
    border: 1px solid black;
  }
}
