.cartProduct {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: center;
}
.cartProduct__info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.cartProduct__info button {
  color: black;
  margin-top: 97px;
  border: 0px;
  text-decoration: underline;
  display: inline-block;
  background: none;
}
.cartProduct__image {
  object-fit: contain;
  height: 180px;
  width: 200px;
}
.cartProduct__rating {
  display: flex;
}
.cartProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.nextItem {
  width: 100%;
  border: 1px solid lightgrey;
}

.notif {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  background-color: lightgray;
  padding: 20px;
  border-radius: 10px;
}
.notif__btn {
  align-items: center;
  margin-left: 10px;
  border: 0px;
  padding-top: 0px;
}

@keyframes myAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: rotateX(90deg);
  }
}
.myelement {
  animation-name: myAnimation;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}

.displayNone {
  display: none;
}