.home {
	display: flex;
	justify-content: center;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
.home__contentContainer {
}
.home__contentImage {
	z-index: -1;
	margin-bottom: -150px;
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	width: 100%;
}
.home__contentRow {
	display: flex;
	z-index: 1;
	margin-right: 5px;
	margin-left: 5px;
}
.notifContainer {
	margin-left: 30px;
	position: absolute;
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	column-gap: 10px;
	z-index: 3;
	padding-top: 10px;
}
