.order {
  padding: 40px;
  border: 1px solid lightgray;
  background-color: white;
  margin: 20px 0;
  position: relative;
}
.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}
@media (max-width: 39em) {
  .order__id {
    position: unset;
  }
}
.order__total {
  font-weight: 500;
  text-align: right;
}

@media screen and (max-width: 39em) {
  .cartProduct {
    display: block;
  }
}