.product {
	background-color: white;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	margin: 10px;
	padding: 20px;
	max-height: 400px;
	min-width: 100px;
	width: 100%;
}
.product > img {
	max-height: 200px;
	width: 100%;
	object-fit: contain;
	margin-bottom: 15px;
}
.product__information {
	height: 100px;
	margin-bottom: 15px;
	/* padding-right: 100px; */
}
.product__price {
	margin-top: 5px;
}
.product__handRating {
	display: flex;
	flex-direction: row;
}
.product > button {
	background: #f2c973;
	border: 1px solid;
	border-radius: 5px;
	height: 30px;
	/* border-color: #a88734 #846a29; */
	color: black;
	margin-top: 10px;
	width: 200px;
	box-shadow: 0px 4px 14px #f2c973;
}
.product > button:hover {
	background-color: #eec262;
	transition: 0.2s background-color ease-in-out;
}
.zoom {
	transition: transform 0.2s ease-in-out;
}
.zoom:hover {
	transform: scale(1.02);
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
