.footer {
  border-collapse: collapse;
}
.footer__table {
  padding-inline: 100px;
  width: 100%;
  height: 100%;
}
.footer__table ul {
  list-style: none;
}
.footer__table ul li {
  padding: 3px;
}
.footer__table__statement {
  list-style: none;
  padding-left: 50px;
  padding-right: 500px;
  text-align: left;
}
.footer__table__socialmedia {
  text-align: right;
}
.footer__table__socialmedia ul {
  list-style: none;
  display: flex;
}
.footer__table__socialmedia ul li {
  padding-right: 30px;
}
.footer__table__logo img {
  width: 100px;
  object-fit: contain;
}
.footer__table__company {
  font-size: 30px;
  color: #6772a9;
}

.divider {
  margin-inline: 100px;
  border: 1px solid gray;
}