.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba (0, 0, 0, 0.2);

    display:flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    text-align: center;
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
}

.post-btn{
    display: inline-block;
    position: absolute;
    bottom: 5%;
    right: 50%;
}

.close-btn{
    display: inline-block;
    position: absolute;
    bottom: 5%;
    right: 24%;
}

.popup-inner .input-text{
    height: 240px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 20px;
    border-radius: 4px;
    background-color: #f8f8f8;
}

button {
    background-color: gray;
    font-weight: 500;
  }


  /* create new post */
.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.create label {
    text-align: left;
    display: block;
}

.create h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}
.create input {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.create textarea{
    height: 240px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 20px;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.create button {
    background-color: gray;
    font-weight: 500;   
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}