.cartProduct {
	display: flex;
	margin-bottom: 20px;
	margin-top: 20px;
	align-items: center;

	&__info {
		display: flex;
		flex-direction: column;
		padding-left: 20px;
		button {
			// background-color: lightgray;
			// border: 1px solid;
			// border-color: 2px 2px lightgray;
			color: black;
			margin-top: 97px;
			// border-radius: 4px;
			// box-shadow: 2px 2px lightgray;

			border: 0px;
			text-decoration: underline;
			display: inline-block;
			background: none;
		}
	}
	&__image {
		object-fit: contain;
		height: 180px;
		width: 200px;
	}
	&__rating {
		display: flex;
	}
	&__title {
		font-size: 17px;
		font-weight: 800;
	}
}
.nextItem {
	width: 100%;
	border: 1px solid lightgrey;
}
.notif {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	background-color: lightgray;
	padding: 20px;
	border-radius: 10px;
	&__name {
	}

	&__btn {
		align-items: center;
		margin-left: 10px;

		border: 0px;
		padding-top: 0px;
	}
}
@keyframes myAnimation {
	0% {
		opacity: 1;
		// transform: rotateX(90deg);
	}
	50% {
		opacity: 0.5;
		// transform: rotateX(0deg);
	}
	100% {
		visibility: hidden;
		opacity: 0;
		transform: rotateX(90deg);
	}
}

.myelement {
	animation-name: myAnimation;
	animation-duration: 3000ms;
	animation-fill-mode: forwards;
}
.displayNone {
	display: none;
}
