@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

@import '../../../node_modules/bootstrap/scss/forms';
@import '../../../node_modules/bootstrap/scss/nav';
@import '../../../node_modules/bootstrap/scss/buttons';
// @import '../../../node_modules/bootstrap/scss/tabs';
// Clickology\node_modules\bootstrap\scss\_button-group.scss

.loginPage {
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	&__logo {
		margin-top: 20px;
		margin-bottom: 20px;
		width: 100px;
		object-fit: contain;
		margin-right: auto;
		margin-left: auto;
	}
	&__formBtn {
		margin-top: 20px;
		margin-bottom: 20px;
		width: 525px;
	}
	&__container {
		width: 500px;
		height: fit-content;
		border-radius: 5px;
		padding: 20px;
		border: 1px solid lightgray;
		padding-right: 50px;
	}
	&__tab {
		font-weight: 600;
	}
}
// .inputform {
// 	padding-left: 10px;
// 	height: 25px;
// }
.flexbox {
}
