@import 'variables';
.totalAmount {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	// justify-content: space-between;
	// height: 300px;
	width: 300px;
	padding: 30px;
	margin-top: 1px;
	border-radius: 2px;
	border: 1px solid gray;
	background-color: #f3f3f3;
	margin-right: 20px;
	gap: 20px 5px;
	button {
		// background-color: $gold;
		// // border-color: #a88134 #9c7a31 #846a28;
		// border: 1px solid;
		// border-radius: 2px;
		// height: 30px;
		// width: 100%;
		// color: #111;
		// margin-top: 10px;
		background: #f2c973;
		border: 1px solid;
		border-radius: 5px;
		height: 30px;
		/* border-color: #a88734 #846a29; */
		color: black;
		margin-top: 10px;
		box-shadow: 0px 4px 14px #f2c973;
		&:hover {
			background-color: #eec262;
			transition: 0.2s background-color ease-in-out;
		}
		&.disabled {
			background-color: gray;
			box-shadow: none;
		}
	}
}
